<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>frames</key>
    <dict>
        <key>힐러정화_000.png</key>
        <dict>
            <key>frame</key>
            <string>{{0,645},{128,128}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{128,128}}</string>
            <key>sourceSize</key>
            <string>{128,128}</string>
        </dict>
        <key>힐러정화_001.png</key>
        <dict>
            <key>frame</key>
            <string>{{129,387},{128,128}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{128,128}}</string>
            <key>sourceSize</key>
            <string>{128,128}</string>
        </dict>
        <key>힐러정화_002.png</key>
        <dict>
            <key>frame</key>
            <string>{{129,258},{128,128}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{128,128}}</string>
            <key>sourceSize</key>
            <string>{128,128}</string>
        </dict>
        <key>힐러정화_003.png</key>
        <dict>
            <key>frame</key>
            <string>{{129,129},{128,128}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{128,128}}</string>
            <key>sourceSize</key>
            <string>{128,128}</string>
        </dict>
        <key>힐러정화_004.png</key>
        <dict>
            <key>frame</key>
            <string>{{129,0},{128,128}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{128,128}}</string>
            <key>sourceSize</key>
            <string>{128,128}</string>
        </dict>
        <key>힐러정화_005.png</key>
        <dict>
            <key>frame</key>
            <string>{{0,774},{128,128}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{128,128}}</string>
            <key>sourceSize</key>
            <string>{128,128}</string>
        </dict>
        <key>힐러정화_006.png</key>
        <dict>
            <key>frame</key>
            <string>{{129,516},{128,128}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{128,128}}</string>
            <key>sourceSize</key>
            <string>{128,128}</string>
        </dict>
        <key>힐러정화_007.png</key>
        <dict>
            <key>frame</key>
            <string>{{0,516},{128,128}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{128,128}}</string>
            <key>sourceSize</key>
            <string>{128,128}</string>
        </dict>
        <key>힐러정화_008.png</key>
        <dict>
            <key>frame</key>
            <string>{{0,387},{128,128}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{128,128}}</string>
            <key>sourceSize</key>
            <string>{128,128}</string>
        </dict>
        <key>힐러정화_009.png</key>
        <dict>
            <key>frame</key>
            <string>{{0,258},{128,128}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{128,128}}</string>
            <key>sourceSize</key>
            <string>{128,128}</string>
        </dict>
        <key>힐러정화_010.png</key>
        <dict>
            <key>frame</key>
            <string>{{0,129},{128,128}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{128,128}}</string>
            <key>sourceSize</key>
            <string>{128,128}</string>
        </dict>
        <key>힐러정화_011.png</key>
        <dict>
            <key>frame</key>
            <string>{{0,0},{128,128}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{128,128}}</string>
            <key>sourceSize</key>
            <string>{128,128}</string>
        </dict>
    </dict>
    <key>metadata</key>
    <dict>
        <key>format</key>
        <integer>2</integer>
        <key>size</key>
        <string>{512,1024}</string>
        <key>textureFileName</key>
        <string>힐러정화.png</string>
    </dict>
</dict>
</plist>
